h1 {
    font-family: "Josefin Sans", sans-serif;
}

#banner {
    background: url('img/banner.jpg');
    background-size: cover;
    background-position: 0 15%;
    position: relative;
    margin-top: 100px;
}

